body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a7c4d6ff;
}

audio {
	display: none;
}

.info {
  position: fixed;
  z-index: 99999;
  height: 30em;
  width: 50%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.info:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.infoContents {
  display: block;
  margin: auto;
  font-family: 'Itim', cursive;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #000;
  padding: 0px;
  position: fixed;
  width: 50%;
  height: 50%;
  visibility: visible;
  user-select: none;
  -webkit-filter: invert(100%);
  filter: invert(100%)
  z-index: 999999;
}

.infoContents img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  animation-name: click;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes click {
  0% {transform: scale(0.8) rotate(0deg);}
  /* 25% {transform: scaleY(1.3) rotate(-45deg);} */
  33% {transform: scale(0.9) rotate(15deg);}
  /* 75% {transform: scaleY(1.3) rotate(-45deg);} */
  66% {transform: scale(0.8) rotate(30deg);}
  100% {transform: scale(0.8) rotate(15deg);}
}

.container {
	display: contents;
}

#openCard, #closeCard {
	display: none;
  left: 100px;
}

.birthdayCard {
  position: relative;
  width: 300px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

  .birthdayCard:hover {
  	transform: perspective(2500px) scale(1.3) rotate(-4deg) translateX(148px);
  	box-shadow: inset 50px 10px 50px rgba(0,0,0,.2), 0 5px 50px rgba(0,0,0,0.5);
  }

  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }

  .birthdayCard:hover .happy {
    visibility:hidden;
  }

  .birthdayCard:hover .partydino {
    visibility: visible;
  }

  .birthdayCard:hover .confetti {
    visibility: visible;
  }

  .birthdayCard:hover .cake {
    visibility:hidden;
  }

.cardFront {
  position: relative;
  background-color: #F5F5DC;
  width: 300px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
  transition: .1s;
}

.happy {
  align-content: center;
  transition: 0s;
}

.letterH, .letterA, .letterP, .letterP2, .letterY, .letterB, .letterI, .letterR, .letterT, .letterH2, .letterD, .letterA2, .letterY2 {
  position: absolute;
  width: 85px;
  height:95px;
}

.letterH {
  background-image: url('letter-h.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 45px;
  top: 50px;
}

.letterA {
  background-image: url('letter-a.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 85px;
  top: 50px;
}

.letterP {
  background-image: url('letter-p.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 120px;
  top: 50px;
}

.letterP2 {
  background-image: url('letter-p.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 155px;
  top: 50px;
}

.letterY {
  background-image: url('letter-y.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 190px;
  top: 50px;
}

.letterB {
  background-image: url('letter-b.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 30px;
  top: 120px;
}

.letterI {
  background-image: url('letter-i.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 50px;
  top: 120px;
}

.letterR {
  background-image: url('letter-r.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 75px;
  top: 120px;
}

.letterT {
  background-image: url('letter-t.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 100px;
  top: 120px;
}

.letterH2 {
  background-image: url('letter-h.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 130px;
  top: 120px;
}

.letterD {
  background-image: url('letter-d.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 45px;
  left: 160px;
  top: 120px;
}

.letterA2 {
  background-image: url('letter-a.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 192px;
  top: 120px;
}

.letterY2 {
  background-image: url('letter-y.png');
  position: absolute;
  bottom: -200px;
  background-repeat: no-repeat;
  background-size: 40px;
  left: 220px;
  top: 120px;
}

.cake {
  position: relative;
  top: 180px;
}

.cake-middle {
  position: absolute;
  width: 75px;
  height: 30px;
  background-color: #118ab2;
  border-radius: 3.5px 3.5px 0 0;
  top: 80px;
  left: 114px;
  box-shadow: inset 0 -10px #073b4c;
  overflow: hidden;
}

.cake-middle:before {
  content:"";
  position:absolute;
  background-color: #ef476f;
  border-radius:50%;
  width: 5px;
  height: 5px;
  top: 10px;
  left: 4px;
  box-shadow: 7.5px 5px #ffd166, 15px 0 #06d6a0, 22.5px 5px #ef476f, 60px 0 #ffd166, 37.5px 5px #06d6a0, 45px 0 #ef476f, 52.5px 5px #ffd166, 60px 0 #06d6a0;
}

.cake-middle:after {
  content:"";
  position: absolute;
  width: 15px;
  height: 7.5px;
  left: -1;
  border-radius: 0 0 25px 25px;
  background-color: white;
  box-shadow: 15px 0 white, 30px 0 white, 45px 0 white, 60px 0 white;
}

.cake-top {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: #ef476f;
  border-radius: 3.5px 3.5px 0 0;
  top: 50px;
  left: 126px;
  overflow: hidden;
  box-shadow: inset 0 10px #118ab2;
}

.cake-top:before {
  content:"";
  position: absolute;
  background-color: #118ab2;
  width: 7.5px;
  height: 17.5px;
  left:-4px;
  border-radius: 10px;
  box-shadow: 7.5px 5px #ef476f, 15px 2.5px #118ab2, 22.5px 2.5px #ef476f,30px -5px #118ab2, 37.5px 5px #ef476f, 45px 0 #118ab2;
}

.cake-top:after {
  position: absolute;
  content:"";
  background-color: rgba(0,0,0,0.1);
  width: 25px;
  border-radius: 0 3.5px 0 0;
  height: 30px;
  left: 49px;
}

.candle {
  position: absolute;
  background: repeating-linear-gradient(-45deg, white, white 2px,
  #06d6a0 2px, #06d6a0 5px);
  width: 5px;
  height: 20px;
  border-radius: 3px 3px 0 0;
  top: 30px;
  left: 149px;
}

.candle:before {
  content:"";
  position: absolute;
  background-color: #333;
  width: .5px;
  height: 5px;
  top: -5px;
  left: 1.8px;
}

.flame {
  position: absolute;
  opacity:0.7;
}

.flame:before {
  content:"";
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width:10px;
  height:10px;
  top: 20px;
  left: 145.8px;
  animation: scale .5s linear infinite;
}

.flame:after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #ffbe0b;
  width: 5.5px;
  height: 5.5px;
  top: 23px;
  left: 148.3px;
  animation: scale .5s linear infinite;
}

@keyframes scale {
  0% {transform: scaleY(1) rotate(-45deg);}
  25% {transform: scaleY(1.3) rotate(-45deg);}
  50% {transform: scaleY(1) rotate(-45deg);}
  75% {transform: scaleY(1.3) rotate(-45deg);}
  100% {transform: scaleY(1) rotate(-45deg);}
}

/* .confettiPage {
  position: absolute;
  width: 500px;
  height: 500px;
  overflow: hidden;
} */

.confetti {
  position: absolute;
  width: 350px;
  height: 350px;
  overflow: hidden;
  visibility: hidden;
}

.squareOne, .squareTwo, .squareThree, .squareFour, .squareFive, .squareSix, .squareSeven, .squareEight, .squareNine, .squareTen {
  position: absolute;
  width: 10px;
  height: 25px;
  top:-110px;
}

.squareOne {
  background-color: #ef476f;
  animation: down 2.5s linear infinite;
  left:50px;
}

.squareTwo {
  background-color: #06d6a0;
  animation: down 2.3s linear infinite .2s;
  left:150px;
}

.squareThree {
  background-color: #118ab2;
  animation: down 2.4s linear infinite .4s;
  left:250px;
}

.squareFour {
  background-color: #ffbe0b;
  animation: down 2.7s linear infinite .1s;
  left:300px;
}

.squareFive {
  background-color: #118ab2;
  animation: down 2.6s linear infinite .7s;
  left:5px;
}

@keyframes down {
  0% {top:-110px; transform: rotate(0deg) rotateY(-90deg);opacity:1;}
  100% {top:400px; transform: rotate(360deg) rotateY(180deg);opacity:0.5;}
}

@keyframes downTwo {
  0% {top:-130px; transform: rotate(0deg) rotateY(90deg);opacity:1;}
  100% {top:400px; transform: rotate(-360deg) rotateY(-180deg);opacity:0.5;}
}


.squareSix {
  background-color: #ffbe0b;
  animation: downTwo 2.4s linear infinite .2s;
  left:70px;
}

.squareSeven {
  background-color: #ef476f;
  animation: downTwo 2.1s linear infinite .7s;
  left:170px;
}

.squareEight {
  background-color: #ef476f;
  animation: downTwo 2.4s linear infinite .9s;
  left:280px;
}

.squareNine {
  background-color: #06d6a0;
  animation: downTwo 2.9s linear infinite .9s;
  left:50px;
}

.squareTen {
  background-color: #118ab2;
  animation: downTwo 2.2s linear infinite 1.1s;
  left:350px;
}

.partydino {
  visibility:hidden;
  /* position: absolute; */
}

.partyText, .dinoOne, .dinoTwo, .dinoThree, .dinoFour, .dinoFive, .dinoSix, .dinoSeven, .dinoEight {
  position: absolute;
  width: 100px;
  height:95px;
}

.partyText {
  background-image: url('dino-party.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 100px;
  left: 100px;
  top: 145px;
  transform: scaleX(-1);
}

.dinoOne {
  background-image: url('spinosaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 15px;
  top: 240px;
}

.dinoTwo {
  background-image: url('apatosaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 73px;
  top: 240px;
}

.dinoThree {
  background-image: url('triceratops.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 125px;
  top: 245px;
}

.dinoFour {
  background-image: url('kentrosaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 183px;
  top: 240px;
}

.dinoFive {
  background-image: url('tyrannosaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 235px;
  top: 60px;
}

.dinoSix {
  background-image: url('dracorex.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 175px;
  top: 65px;
}

.dinoSeven {
  background-image: url('camarasaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 120px;
  top: 60px;
}

.dinoEight {
  background-image: url('stegosaurus.png');
  position: absolute;
  bottom: -25px;
  background-repeat: no-repeat;
  background-size: 50px;
  left: 60px;
  top: 65px;
}

.cardInside {
  position: absolute;
  background-color: #F5F5DC;
  width: 300px;
  height:350px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.myphoto {
  width: 80px;
  height: 95px;
  background-image: url('me.png');
  position: absolute;
	bottom: 5px;
	background-repeat: no-repeat;
	background-size: 50px;
  left: 190px;
  z-index: -1;
}

p {
  font-family: 'Itim', cursive;
  margin: 5px 15px 0px 15px;
  color: #333;
  font-size: 11px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.name {
  position: absolute;
  left: 185px;
  bottom: 27px;
  color: #333;
}

.btn-primary {
  visibility: hidden;
}

@media only screen and (max-width: 726px) {
  .container {
    display: block;
    -webkit-transform: scale(0.48) translateY(30px);
  }

  .btn-primary {
    visibility: visible;
    border-color: #466baf;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    font-weight: 700;
    color: #fff;
    background-color: #466baf;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active {
      border-color: #fff;
      color: #fff;
      background-color: #466baf;
  }

  .birthdayCard.active {
    transform: perspective(2500px) scale(1.3) rotate(-4deg) translateX(148px);
    box-shadow: inset 50px 10px 50px rgba(0,0,0,.2), 0 5px 50px rgba(0,0,0,0.5);
  }

  .birthdayCard.active .cardFront {
    transform: rotateY(-160deg);
  }

  .birthdayCard.active .happy {
    visibility:hidden;
  }

  .birthdayCard.active .partydino {
    visibility: visible;
  }

  .birthdayCard.active .confetti {
    visibility: visible;
  }

  .birthdayCard.active .cake {
    visibility:hidden;
  }

  .infoContents {
    transform: scale(0.7);
    width: 50%;
  }

  .infoContents img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
